@use '../../styles/variables' as *;

.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: $space-4;
  height: 1.75rem;
  padding: 0 $space-12;
  border-radius: $radius-pill;
  background-color: $tag-bg;
  backdrop-filter: blur(0.3125rem);
}

.tag__icon {
  display: inline-flex;
  flex-shrink: 0;
  color: $red;
}

.tag__text {
  font-family: $font;
  font-size: $fs-12;
  font-weight: 500;
  line-height: $lh-16;
  letter-spacing: $ls-14;
  text-transform: uppercase;
  color: $navy;
}
