@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.hero {
  position: relative;
  flex: 1 1 auto;
  height: 100vh;
  overflow: hidden;
}

.hero__bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.hero__video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__content {
  position: relative;
  z-index: $z-hero-body;
  max-width: $container;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 0 $space-32;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
    justify-content: center;
    justify-items: center;

    padding: 0 0 $space-24;
  }
}

.hero__left {
  width: 53%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $color-surface;
  padding-left: $space-36;

  @include mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 $space-16;
  }
}

.hero__blank {
  height: 34%;

  @include mobile {
    height: unset;
  }
}

.hero__title {
  height: 33%;
}

.hero__register {
  height: 33%;
}

.hero__main-title {
  font-family: $font-hoves;
  font-size: $fs-82;
  font-weight: 500;
  line-height: $lh-hero;
  letter-spacing: $ls-h1;
  color: $color-surface;
  margin: 0;
}

.hero__main-title p {
  margin: 0;
}

.hero__sub-title {
  font-family: $font-hoves;
  font-size: clamp(0.875rem, 2vw, 1rem);
  font-weight: 400;
  line-height: $lh-16;
  color: $color-surface;
  margin: $space-32 0 0 0;
  max-width: $hero-subTitle-480;

  @include mobile {
    margin: $space-16 0 0 0;
  }
}

.hero__register {
    display: flex;
    justify-content: space-between;
    align-items: end;

    @include mobile {
        display: none;
    }
}

.hero__register-mobile {
    display: none;

    @include mobile {
        display: block;
    }
}

.hero__register-icon {
  justify-content: flex-end;
}

.hero__right {
    position: absolute;
    bottom: $space-32;
    right: $space-36;
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding-right: $space-36;
    padding-bottom: $space-4;

    @include mobile {
      position: static;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 0 0 $space-4 $space-16;

    }
}

.hero__scroll-hint {
    padding-bottom: $space-4;

    @include mobile {
        display: none;
    }
}

.hero__promo-icon {
  fill: #FF5E61;
  color: #FF5E61;
}

.hero__promo-card {
  display: block;

  @include mobile {
    display: none;
  }
}

.hero__promo-card-mobile {
  display: none;

  @include mobile {
    display: block;
    width: 100%;
  }
} 