@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.page-home__intro-stack {
  display: flex;
  flex-direction: column;
  min-height: $opeka-banner-min-h;
  position: relative;
}

.hero {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
  color: $color-surface;
}

.hero__media {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.hero__bg {
  // width: 100%;
  // height: 100%;
}

.hero__video {
  width: 100%;
  height: 100%;
}

.hero__body {
  position: relative;
  z-index: $z-hero-body;
  display: grid;
  align-items: center;
  flex: 1 1 auto;
  min-height: 0;
  width: 100%;
  margin: 0 auto;
  padding: 0 $opeka-space-36;
  box-sizing: border-box;
}

.hero__grid {
  display: grid;
}

.hero__intro {
  max-width: 53rem;
  gap: $opeka-space-32;
}


.hero__title {
  margin: 0 0 $opeka-space-32;
  max-width: 53re;
  font-family: $opeka-font-hoves;
  font-size: $opeka-fs-82;
  font-weight: 500;
  line-height: $opeka-lh-hero;
  letter-spacing: $opeka-ls-h1;
  color: $color-surface;
  font-style: medium;
}

.hero__lead {
  margin: 0;
  max-width: 30rem;
  font-family: $opeka-font-hoves;
  font-size: $opeka-fs-16;
  font-weight: 400;
  line-height: $opeka-lh-16;
  color: $color-surface;
}

.hero__aside {
  justify-self: end;
  padding-right: 2.25rem;
  width: 100%;
  display: flex;
  justify-content: end;
}

.hero__bar {
  position: relative;
  bottom: $opeka-space-36;
  z-index: $z-hero-body;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: end;
  width: 100%;
  margin: 0 auto;
  padding: 0 $opeka-space-36;
  box-sizing: border-box;
  flex-shrink: 0;
  margin-top: auto;
}

.hero__bar-start {
  grid-column: 1;
  justify-self: start;
  position: relative;
  bottom: -$opeka-space-4;
}

.hero__bar-center {
  grid-column: 2;
  justify-self: center;
}

.hero__bar-end {
  grid-column: 3;
}
