<script props>
  /*
   * x-circle-number
   *
   *
   * Props:
   *   size — sm | md (default: sm)
   *   color — tr-blue | tr-orange | tr-green | tr-pink (default: blue)
   *   num — 01
   *
   */
  const size = props.size || 'sm'
  const color = props.color || 'tr-blue'
  const num = props.num || '01'

  module.exports = {
    num,
    cls: [
      'circle-number',
      'circle-number--' + size,
      'circle-number--' + color,
    ].join(' '),
  }
</script>

<span class="{{ cls }}">
  {{ num }}
</span>
