<!-- x-rate showcase. Include in styleguide/components.html -->
<section class="rate_body">
    <h2 class="sg-section__title">Rate</h2>
    <p class="sg-section__desc">
        Этот термин используется для обозначения различных преимуществ, включая популярность.
        <code>count</code> стандарт : count : (1~5)
    </p>

    <div class="rate_container">
        <div class="rate_content">
            <div class="rating__group">
                <p class="text-color rate_padding">5</p>
                <x-rate count="5"></x-rate>
            </div>
            <div class="rating__group">
                <p class="text-color rate_padding">4</p>
                <x-rate count="4"></x-rate>
            </div>
            <div class="rating__group">
                <p class="text-color rate_padding">3</p>
                <x-rate count="3"></x-rate>
            </div>
            <div class="rating__group">
                <p class="text-color rate_padding">2</p>
                <x-rate count="2"></x-rate>
            </div>
            <div class="rating__group">
                <p class="text-color rate_padding">1</p>
                <x-rate count="1"></x-rate>
            </div>
        </div>
    </div>
    <sg-snippet title="x-rate">
        <x-rate count="5"></x-rate>
    </sg-snippet>
</section>