@use '../../../styles/tokens' as *;

/**
 * .tab-button — small uppercase label.
 *
 * type: black | white | non-border
 * status:  default | active
 */

.tab-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: $fs-base;
  line-height: 0px;
  letter-spacing: -0.02em;
  font-weight: $fw-medium;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}

[class^="tab-button--"] {
  border-style: solid;
  border-radius: $radius-lg;
  padding: 20px;
}

/* Status */
.tab-button--black--default {
  border-color: $navy-10;
  color: $navy-60;
  border-width: 1.2px;

}

.tab-button--black--active {
  border-color: $blue-100p;
  color: $blue-100p;
  border-width: 2px;

}

.tab-button--white--default {
  border-color: $white-30;
  color: $white-100;
  border-width: 1.2px;
}

.tab-button--white--active {
  border-color: $white-30;
  color: $white-100;
  border-width: 2px;
}

.tab-button--non-border--default {
  border: none;
  background-color: $navy-05;
}

.tab-button--non-border--active {
  border: none;
  background-color: $navy-10;
}