@use '../../../styles/tokens' as *;

/**
 * .btn-step — button step.
 *
 * Active status:  --active | --default
 */

.btn-step{
  display: inline-flex;
  padding-top: 16px;
  border-top: 1px solid $color-border-white-30;
  color: $color-text-on-dark-50;
  font-family: $font-primary;
  font-weight: $fw-medium;
  font-size: 16px;
  white-space: nowrap;
  letter-spacing: -0.02em;
}

.btn-step--active {
  border-color: $color-white;
  color: $color-white;
}