<!-- x-room-card showcase. Include in styleguide/components.html -->
<section class="sg-section" id="comp-promo-mini-card" data-nav-target>
    <h2 class="sg-section__title">Room Card</h2>
    <p class="sg-section__desc">
        На этой карточке стиль меняется между версией для настольных компьютеров и версией для мобильных устройств.
        props: title ,desc , image1 ,image2,  image3 ,price , unit
    </p>

    <div class="sg-matrix sg-matrix--narrow">
        <div class="sg-matrix__head">
        </div>

        <div class="sg-matrix__row">
            <x-room-card seat="1" src_main_back="../../assets/images/room_card_3_3.png" alt_back="image-back" src_main_middle="../../assets/images/room_card_3_2.png" alt_middle="image-middle" src_main_front="../../assets/images/room_card_3_1.png" alt_front="image-front">
                <fill-title>1-местная комната</fill-title>
                <fill-desc>Уютное личное пространство, включающее удобную кровать,
                    прикроватную тумбу, шкаф для хранения вещей,
                    стол, стул и телевизор, с продуманной обстановкой
                    для комфортного и спокойного проживания.</fill-desc>
                <fill-price>от 11 700 ₽</fill-price>
                <fill-unit>сутки</fill-unit>
            </x-room-card>
        </div>
    </div>

    <sg-snippet title="x-promo-mini-card">
        <x-room-card seat="1" src_main_back="../../assets/images/room_card_3_3.png" alt_back="image-back" src_main_middle="../../assets/images/room_card_3_2.png" alt_middle="image-middle" src_main_front="../../assets/images/room_card_3_1.png" alt_front="image-front">
            <fill-title>1-местная комната</fill-title>
            <fill-desc>Уютное личное пространство, включающее удобную кровать,
                прикроватную тумбу, шкаф для хранения вещей,
                стол, стул и телевизор, с продуманной обстановкой
                для комфортного и спокойного проживания.</fill-desc>
            <fill-price>от 11 700 ₽</fill-price>
            <fill-unit>сутки</fill-unit>
        </x-room-card>
    </sg-snippet>
</section>