<!-- x-number-of-seats showcase. Include in styleguide/components.html -->
<section>
  <h2 class="sg-section__title">Number of seats</h2>
  <p class="sg-section__desc">
    Изменяет количество значков в зависимости от количества магнитов.
    <code>Также изменяется в зависимости от размера.</code> size : sm(14), md(18) ,count : (1~5)
  </p>
  <div class="seat-selector">
    <div class="seat-selector__grid">
      <div class="seat-selector__item">
        <p class="text-color"></p>
      </div>
      <div class="seat-selector__item">
        <p class="text-color">SM</p>
      </div>
      <div class="seat-selector__item">
        <p class="text-color">MD</p>
      </div>
      <div class="seat-selector__item">
        <p class="text-color">1</p>
      </div>
      <div class="seat-selector__item">
        <x-number-of-seats count="1" size="sm"></x-number-of-seats>
      </div>
      <div class="seat-selector__item">
        <x-number-of-seats count="1" size="md"></x-number-of-seats>
      </div>
      <div class="seat-selector__item">
        <p class="text-color">2</p>
      </div>
      <div class="seat-selector__item">
        <x-number-of-seats count="2" size="sm"></x-number-of-seats>
      </div>
      <div class="seat-selector__item">
        <x-number-of-seats count="2" size="md"></x-number-of-seats>
      </div>
      <div class="seat-selector__item">
        <p class="text-color">3</p>
      </div>
      <div class="seat-selector__item">
        <x-number-of-seats count="3" size="sm"></x-number-of-seats>
      </div>
      <div class="seat-selector__item">
        <x-number-of-seats count="3" size="md"></x-number-of-seats>
      </div>
      <div class="seat-selector__item">
        <p class="text-color">4</p>
      </div>
      <div class="seat-selector__item">
        <x-number-of-seats count="4" size="sm"></x-number-of-seats>
      </div>
      <div class="seat-selector__item">
        <x-number-of-seats count="4" size="md"></x-number-of-seats>
      </div>
      <div class="seat-selector__item">
        <p class="text-color">5</p>
      </div>
      <div class="seat-selector__item">
        <x-number-of-seats count="5" size="sm"></x-number-of-seats>
      </div>
      <div class="seat-selector__item">
        <x-number-of-seats count="5" size="md"></x-number-of-seats>
      </div>
    </div>
  </div>
  <sg-snippet title="x-number-of-seats">
    <x-number-of-seats count="1" size="sm"></x-number-of-seats>
  </sg-snippet>
</section>