@use '../../../styles/tokens' as *;

/**
 * Number of seats (Figma: Number of seats )
 *
 * Sizes:  --sm | --md (only for blue)
 * Count: --count : count >= 1 (default : 1)
 */

.seat-selector {
  padding: 20px;
  display: inline-block;
  background-color: $blue-20p;
  border-radius: 12px;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px 40px;
  }

  &__pill {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 10px 16px;
    border-radius: 999px;
    background: $white;
  }
}

.icon-color {
  color: $blue-500;
}

.icon--sm {
  width: 14px;
  height: 14px;
}

.icon--md {
  width: 18px;
  height: 18px;
}

.text-color{
  color:$text-common;
}